.brands-box {
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 30px;
    overflow-y: hidden;
}

.brands-box span {
    display: inline-block;
    color: black;
    text-align: center;
    width: 80px;
    height: 80px;
    display: inline-grid;
    place-items: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px;
    border: 1px solid black;
}

.brands-box span img {
    width: 80%;
    object-fit: contain;
    border-radius: 50%;
    height: 80%;
    background-color: white;
}