

.home .product-box .product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    /* flex-grow: 0;
    flex-shrink: 0; */
    /* flex-basis: 23.4%; */
    /* border: 1px solid var(--orange); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.home .product-box .product-card .img {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
}

.home .product-box .product-card .img img {
    width: 100%;
    height: 100%;
    object-position: top;
    aspect-ratio: 1/1.2;
    object-fit: cover;
}

.home .product-box .product-card .detail {
    width: 100%;
    padding: 0 10px;
    position: relative;
}

.home .product-box .product-card .detail .brand,
.prod-desc .box .content .brand {
    background-color: var(--blue);
    width: auto;
    padding: 2px 10px;
    border-radius: 15px;
    font-size: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.home .product-box .product-card .detail .brand .dot,
.prod-desc .box .content .brand .dot {
    width: 5px;
    height: 5px;
    background: black;
    border-radius: 50%;
}

.home .product-box .product-card .detail .name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 15px;
    font-weight: 300;
    margin: 5px 0;
}

.home .product-box .product-card .detail .price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.home .product-box .product-card .detail .price .selling {
    background: var(--orange-50);
    padding: 2px 15px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
    color: #000000aa;
}

.home .product-box .product-card .detail .price .cutting {
    text-decoration: line-through;
    font-size: 14px;
    opacity: 70%;
}

.home .product-box .product-card .detail .heart,
.prod-desc .box .img .heart {
    width: 30px;
    height: 30px;
    background: red;
    position: absolute;
    right: 0;
    margin: 5px;
    border-radius: 50%;
    background: url('https://img.icons8.com/ios/1x/hearts--v1.png');
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid rgb(154, 154, 154);
}

.home .product-box .product-card .detail .heart.active {
    background: url('https://img.icons8.com/color/256/hearts.png');
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}