
.home .container-l.v1 {
    display: flex;
    justify-content: center;
}

.home .product-box {
    display: inline-flex;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px;
}

.home .page-heading {
    display: flex;
    height: 70px;
    margin-bottom: 100px;
    margin: 40px 0;
    background-image: url("../assets/endless-constellation.png");
    background-size: cover;
    background-attachment: fixed;
}

.home .page-heading .text {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    background: var(--blue);
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    padding: 0 80px;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}