@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

:root {
    --blue: #CBF3F0;
    --orange: #FF9F1C;
    --orange-50: #FF9F1C44;
    --white: #FFFFFF;
    --mukta: 'Mukta', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

li {
    list-style: none;
}

.home {
    background-color: transparent;
}

.container-l {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.sub-heading {
    padding: 10px;
    font: 15px;
}
